<div class="modal fade" id="mapeka" role="dialog">
<div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">MAPEKA</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body" style="background-color: #181818; padding: 0;">
        <div id="carouselMapekaControls" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row justify-content-center">
                    <div class="col-6 col-md-4">
                        <img class="d-block w-100" src="/images/Vin-min.png" alt="First slide">
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="d-block w-100" src="/images/Daniel-min.png" alt="First slide">
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="d-block w-100" src="/images/Jinan-min.png" alt="First slide">
                    </div>
                </div>                                
              </div>
              <div class="carousel-item" style="padding: 3vw 8vw 3vw 8vw">
                <div class="row">
                    <div class="col-md-6">
                        <img class="d-block w-100" src="/images/Vin-min.png" alt="First slide">
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <h2 style="font-family: 'cocogoose'; color: white;"> VISI </h2>
                            <p class="visi">Menjadikan MAPEKA sebagai organisasi pecinta alam yang unggul, berkualitas, dan peduli terhadap lingkungan
                                serta menjunjung tinggi nilai solidaritas dan kekeluargaan untuk membangun organisasi yang berkualitas.</p>
                        </div>
                        <div class="row">
                            <h2 style="font-family: 'cocogoose'; color: white;"> MISI </h2>
                            <p class="visi">1. Memper-erat rasa kekeluargaan di dalam organisasi MAPEKA. <br>
                                2. Menjadikan MAPEKA sebagai organisasi pecinta alam yang menjadi wadah dalam mengembangkan potensi minat dan bakat dalam melestarikan alam. <br>
                                3. Megadakan kegiatan yang mampu menambah pengalaman anggotanya.</p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item" style="padding: 3vw 8vw 3vw 8vw">
                <div class="row">
                    <div class="col-md-6">
                        <img class="d-block w-100" src="/images/Daniel-min.png" alt="First slide">
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <h2 style="font-family: 'cocogoose'; color: white;"> VISI </h2>
                            <p class="visi">Menjadikan MAPEKA sebagai organisasi pecinta alam yang berkualitas di internal maupun eskternal, serta menghasilkan mahasiswa yang aktif,kreatif dan produktif dalam bidang keorganisasian pecinta alam</p>
                        </div>
                        <div class="row">
                            <h2 style="font-family: 'cocogoose'; color: white;"> MISI </h2>
                            <p class="visi">1. Memenuhi kebutuhan organisasi MAPEKA sebagai wadah pengetahuan serta pengembangan minat dan bakat dalam keorganisasian pecinta alam. <br>
                                2. Menghasilkan kegiatan yang  dapat menjadi sebuah pembelajaran dan pengalaman bagi anggota MAPEKA.</p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item" style="padding: 3vw 8vw 3vw 8vw">
                <div class="row">
                    <div class="col-md-6">
                        <img class="d-block w-100" src="/images/Jinan-min.png" alt="First slide">
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <h2 style="font-family: 'cocogoose'; color: white;"> VISI </h2>
                            <p class="visi">Terciptanya kekeluargaan di MAPEKA dengan dasar ilmu alam.</p>
                        </div>
                        <div class="row">
                            <h2 style="font-family: 'cocogoose'; color: white;"> MISI </h2>
                            <p class="visi">Dapat menjadi tempat untuk individu berkembang di berbagai bidang, khususnya di tiga divisi yang ada di MAPEKA, dengan mengeksplor minat dan bakat.
                                Membangun peran secara aktif, bertanggung jawab, dinamis, dan koordinatif di setiap program kegiatan DP MAPEKA.</p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselMapekaControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselMapekaControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="modal-footer">
        <select class="form-control" id="selectMapeka">
            <option value="0">Tidak Memilih</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
    </div>
    <!-- Modal content-->
    
</div>
</div>

<div class="modal fade" id="ukor" role="dialog">
<div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">UKOR</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body" style="background-color: #181818;">
        <div id="carouselUkorControls" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row justify-content-center">
                    <div class="col-6 col-md-4">
                        <img class="d-block w-100" src="/images/Sofia.png" alt="First slide">
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="d-block w-100" src="/images/Filemon-min.png" alt="First slide">
                    </div>
                    <div class="col-6 col-md-4">
                        <img class="d-block w-100" src="/images/Margaretha.png" alt="First slide">
                    </div>
                </div>                                
              </div>
              <div class="carousel-item" style="padding: 3vw 8vw 3vw 8vw">
                <div class="row">
                    <div class="col-md-6">
                        <img class="d-block w-100" src="/images/Sofia.png" alt="First slide">
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <h2 style="font-family: 'cocogoose'; color: white;"> VISI </h2>
                            <p class="visi">Membangun semangat dan mental mahasiswa/i Universitas Kristen Maranatha, serta menjadi wadah bagi mahasiswa/i Universitas 
                                Kristen Maranatha yang ingin menyalurkan bakat serta minatnya di bidang olahraga melalui kegiatan olahraga yang kompetitif, adil, dan merangkul semua kalangan.</p>
                        </div>
                        <div class="row">
                            <h2 style="font-family: 'cocogoose'; color: white;"> MISI </h2>
                            <p class="visi">1.	Menjadikan Unit Kegiatan Olahraga Universitas Kristen Maranatha sebagai wadah untuk mengembagkan potensi dan mengasah keterampilan mahasiswa/i di bidang olahraga. <br>
                                2.	Menjadikan anak-anak UKOR memiliki rasa kekeluargaan satu sama lain. <br>
                                3.	Membangun sikap integritas, dan excellent pada setiap anggota UKOR. <br>
                                4.	Mengadakan dan menjalankan latihan rutin dari setiap cabang olahraga yang ada di UKOR. <br>
                                5.	Menciptakan atlet-atlet berbakat yang siap bertanding untuk mengharumkan nama UKOR dan Universitas Kristen Maranatha. <br>
                                6.	Mengadakan dan melaksanakan berbagai kegiatan internal maupun eksternal untuk memajukan nama UKOR.</p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item" style="padding: 3vw 8vw 3vw 8vw">
                <div class="row">
                    <div class="col-md-6">
                        <img class="d-block w-100" src="/images/Filemon-min.png" alt="First slide">
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <h2 style="font-family: 'cocogoose'; color: white;"> VISI </h2>
                            <p class="visi">Membangun semangat dan mental positif mahasiswa/i Universitas Kristen Maranatha 
                                melalui berbagai kegiatan olahraga yang kompetitif, adil dan merangkul semua kalangan.</p>
                        </div>
                        <div class="row">
                            <h2 style="font-family: 'cocogoose'; color: white;"> MISI </h2>
                            <p class="visi">1. Menjadikan Unit Kegiatan Olahraga Universitas Kristen Maranatha sebagai wadah untuk mengembangkan potensi dan juga mengasah keterampilan atletik mahasiswa/i Universitas Kristen Maranatha <br>
                                2. Merangkul student atlet untuk mengharumkan nama universitas maranatha di bidang olahraga</p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item" style="padding: 3vw 8vw 3vw 8vw">
                <div class="row">
                    <div class="col-md-6">
                        <img class="d-block w-100" src="/images/Margaretha.png" alt="First slide">
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <h2 style="font-family: 'cocogoose'; color: white;"> VISI </h2>
                            <p class="visi">Menjadikan UKOR sebagai wadah yang dapat membimbing, merangkul, mengayomi, dan mengembangkan bakat minat bidang olahraga untuk mahasiswa/i 
                                Universitas Kristen Maranatha serta memajukan nama UKOR di luar Universitas Kristen Maranatha.</p>
                        </div>
                        <div class="row">
                            <h2 style="font-family: 'cocogoose'; color: white;"> MISI </h2>
                            <p class="visi">1. Menyalurkan aspirasi dan bakat maupun minat anggota untuk mengembangkan seluruh kegiatan Olahraga Universitas Kristen Maranatha didalam civitas kampus maupun luar kampus.
                                2. Menerapkan nilai Integrity, Care, Excellent pada masing – masing cabang olahraga UKOR. <br>
                                3. Membangun kebersamaan dan kekeluargaan dari setiap anggota UKOR baik di dalam maupun di luar kampus</p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselUkorControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselUkorControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="modal-footer">
        <select class="form-control" id="selectUkor">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="0">Tidak Memilih</option>
        </select>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
    </div>
    
</div>
</div>

<div class="modal fade" id="vom" role="dialog">
<div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">VOM</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="background-color: #181818; padding: 0;">
            <div id="carouselVomControls" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-6">
                            <img class="d-block w-100" src="/images/Chriciella-min.png" alt="First slide">
                        </div>
                        <div class="col-6 col-md-6">
                            <img class="d-block w-100" src="/images/Maikel-min.png" alt="First slide">
                        </div>
                    </div>                                
                  </div>
                  <div class="carousel-item" style="padding: 3vw 8vw 3vw 8vw">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="d-block w-100" src="/images/Chriciella-min.png" alt="First slide">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> VISI </h2>
                                <p class="visi">Menjadikan Voice of Maranatha sebagai wadah pelayanan untuk mahasiswa/i yang rindu untuk melayani Tuhan. Belajar bersama untuk melayani Tuhan sesuai dengan talenta yang telah Tuhan berikan untuk setiap kita, dan sebagai wadah untuk tumbuh dalam iman dan makin mengenal dan lebih mengalami Tuhan dalam hidup kita. Sehingga setiap kita mempunyai kerinduan dalam melayani Tuhan.</p>
                            </div>
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> MISI </h2>
                                <p class="visi">1. Menjangkau mahasiswa/i untuk semakin kenal Tuhan. <br>
                                    2. Menjangkau mahasiswa/i untuk semakin rindu dalam melayani Tuhan. <br>
                                    3. Semakin bertumbuh dalam iman, serta menggunakan talenta yang telah Tuhan berikan. <br>
                                    4. Siap menghadapi berbagai masalah kehidupan dengan mengandalkan Tuhan dalam setiap aspek kehidupan. <br>
                                    5. Melanjutkan program yang sudah ada sebelumnya. <br>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item" style="padding: 3vw 8vw 3vw 8vw">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="d-block w-100" src="/images/Maikel-min.png" alt="First slide">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> VISI </h2>
                                <p class="visi">Menjadikan Unit Kegiatan Voice of Maranatha sebagai wadah pagi para mahasiswa Universitas Kristen Maranatha yang memiliki kerinduan untuk melayani Tuhan, dan juga menjadi tempat bersama menumbuhkan kerohanian setiap anggota VOM</p>
                            </div>
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> MISI </h2>
                                <p class="visi">1. Mengembangkan talenta yang dimiliki mahasiswa tertutama dalam bidang pelayanan. <br>
                                    2. Meningkatkan kualitas dalam pelayanan sehingga dapat melayani dengan baik. <br>
                                    3. Mengadakan latihan rutin <br>
                                    4 .Mempererat hubungan antar anggota dengan melakukan ibadah atau sharing secara rutin</p>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselVomControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselVomControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="modal-footer">
            <select class="form-control" id="selectVom">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="0">Tidak Memilih</option>
            </select>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
        <!-- Modal content-->
    
</div>
</div>

<div class="modal fade" id="menwa" role="dialog">
<div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">MENWA</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="background-color: #181818; padding: 0;">
            <div id="carouselMenwaControls" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-4">
                            <img class="d-block w-100" src="/images/Winston-min.png" alt="First slide">
                        </div>
                        <div class="col-6 col-md-4">
                            <img class="d-block w-100" src="/images/Siti-min.png" alt="First slide">
                        </div>
                    </div>                                
                  </div>
                  <div class="carousel-item" style="padding: 3vw 8vw 3vw 8vw">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="d-block w-100" src="/images/Winston-min.png" alt="First slide">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> VISI </h2>
                                <p class="visi">Mewujudkan unit kegiatan yang mempunyai jiwa kepemimpinan, disiplin,  mengutamakan kreatifitas dan inovatif dalam melakukan kegiatan  dengan mengimplementasikan nilai-nilai ice</p>
                            </div>
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> MISI </h2>
                                <p class="visi">1. Membangun keorganisasian internal yang lebih disiplin dan terstruktur. <br>
                                    2. Membangun relasi dengan internal kampus dengan cara ikut aktif dalam kegiatan internal. <br>
                                    3. Membuat kegiatan yang membangun kreatifitas anggota</p>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item" style="padding: 3vw 8vw 3vw 8vw">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="d-block w-100" src="/images/Siti-min.png" alt="First slide">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> VISI </h2>
                                <p class="visi">Menghidupkan nilai-nilai kebangsaan, kekeluargaan, dan memaksimalkan peran menwa dengan efektif, tepat sasaran dan bersinergi di segala kegiatan internal maupun eksternal.</p>
                            </div>
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> MISI </h2>
                                <p class="visi">1. Menerapkan prinsip PSM (pleasure, strength, meaning) dalam setiap program. <br>
                                    2. Memaksimalkan dan mengaplikasikan kemampuan serta keahlian setiap anggota untuk menunjang kualitas unit kegiatan. <br>
                                    3. Menjalin hubungan dan komunikasi yang baik dan efisien dengan sesama anggota, senior, dan anggota unit kegiatan lainnya. <br>
                                    4. Mengevaluasi dan mengembangkan program kerja sebelumnya.</p>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselMenwaControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselMenwaControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="modal-footer">
            <select class="form-control" id="selectMenwa">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="0">Tidak Memilih</option>
            </select>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
</div>
</div>

<div class="modal fade" id="mcuc" role="dialog">
<div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">MCUC</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="background-color: #181818; padding: 0;">
            <div id="carouselMcucControls" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-4">
                            <img class="d-block w-100" src="/images/Cinta-min.png" alt="First slide">
                        </div>
                        <div class="col-6 col-md-4">
                            <img class="d-block w-100" src="/images/Marge-min.png" alt="First slide">
                        </div>
                    </div>                                
                  </div>
                  <div class="carousel-item" style="padding: 3vw 8vw 3vw 8vw">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="d-block w-100" src="/images/Cinta-min.png" alt="First slide">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> VISI </h2> 
                                <p class="visi">"To Be Recognized as the World Class Choir."</p>
                            </div>
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> MISI </h2>
                                <p class="visi">1. Mengembangkan talenta dan potensi mahasiswa di bidang bernyanyi secara profesional dan mempunyai kualitas yang dapat diperhitungkan dalam standarisasi Paduan Suara Internasional. <br>
                                    2. Mengembangkan organisasi yang kuat, kreatif, dan efektif untuk mendukung kualitas Paduan Suara Mahasiswa UKM. <br>
                                    3. Mempertahankan tradisi yang bernilai positif dan memperkuat kebersamaan dan kerjasama antar anggota sebagai satu keluarga.</p>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item" style="padding: 3vw 8vw 3vw 8vw">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="d-block w-100" src="/images/Marge-min.png" alt="First slide">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> VISI </h2>
                                <p class="visi">To Be Recognized as the World Class Choir.</p>
                            </div>
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> MISI </h2>
                                <p class="visi">1. Mengembangkan talenta dan potensi mahasiswa di bidang bernyanyi secara profesional dan mempunyai kualitas yang dapat diperhitungkan dalam standarisasi Paduan Suara Internasional. <br>
                                    2. Mengembangkan organisasi yang kuat, kreatif, dan efektif untuk mendukung kualitas Paduan Suara Mahasiswa UKM. <br>
                                    3. Mempertahankan tradisi yang bernilai positif dan memperkuat kebersamaan dan kerjasama antar anggota sebagai satu keluarga.</p>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselMcucControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselMcucControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="modal-footer">
            <select class="form-control" id="selectMcuc">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="0">Tidak Memilih</option>
            </select>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    
</div>
</div>

<div class="modal fade" id="bela" role="dialog">
<div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">BELA DIRI</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="background-color: #181818; padding: 0;">
            <div id="carouselBeladiriControls" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-4">
                            <img class="d-block w-100" src="/images/Yobel-min.png" alt="First slide">
                        </div>
                    </div>                                
                  </div>
                  <div class="carousel-item" style="padding: 3vw 8vw 3vw 8vw">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="d-block w-100" src="/images/Yobel-min.png" alt="First slide">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> VISI </h2> 
                                <p class="visi">1. Mendapatkan prestasi banyak dari kegiatan eksternal. <br>
                                    2. Menjadi ukm yang kompak, besar secara jumlah anggota, dan kualitas yang baik. <br>
                                    3. Memberikan manfaat positif kepada anggota. <br>
                                    4. Mencapai tujuan kesehatan dari setiap anggota</p>
                            </div>
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> MISI </h2>
                                <p class="visi">1. Memberikan goals kepada anggota. <br>
                                    2. Latihan dengan program yang jelas serta berguna. <br>
                                    3. Mengadakan acara kebersamaan</p>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselBeladiriControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselBeladiriControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="modal-footer">
            <select class="form-control" id="selectBela">
                <option value="1">1</option>
                <option value="0">Tidak Memilih</option>
            </select>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    
</div>
</div>

<div class="modal fade" id="teto" role="dialog">
<div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">TEATER TOPENG</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="background-color: #181818; padding: 0;">
            <div id="carouselTeToControls" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-4">
                            <img class="d-block w-100" src="/images/Annisa-min.png" alt="First slide">
                        </div>
                        <div class="col-6 col-md-4">
                            <img class="d-block w-100" src="/images/Yemima-min.png" alt="First slide">
                        </div>
                    </div>                                
                  </div>
                  <div class="carousel-item" style="padding: 3vw 8vw 3vw 8vw">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="d-block w-100" src="/images/Annisa-min.png" alt="First slide">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> VISI </h2> 
                                <p class="visi">Menjadikan Teater Topeng sebagai teater yang dikenal didaerah Bandung dan sekitarnya.</p>
                            </div>
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> MISI </h2>
                                <p class="visi">1. Menanamkan nilai nilai dari ICE (Integrity, Care, dan Excellence). <br>
                                    2. Menjadikan Teater Topeng sebagai “Rumah” bagi setiap anggotanya. <br>
                                    3. Membuat program kerja yang melibatkan pihak eksternal.</p>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item" style="padding: 3vw 8vw 3vw 8vw">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="d-block w-100" src="/images/Yemima-min.png" alt="First slide">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> VISI </h2>
                                <p class="visi">Menjadikan Teater Topeng sebagai Teater yang terkenal di Bandung.</p>
                            </div>
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> MISI </h2>
                                <p class="visi">1. Menanamkan nilai nilai ICE (integrity, Care dan Excellence). <br>
                                    2. Menjadikan Teater Topeng sebagai "Rumah" bagi setiap anggotanya.</p>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselTeToControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselTeToControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="modal-footer">
            <select class="form-control" id="selectTeto">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="0">Tidak Memilih</option>
            </select>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    
</div>
</div>

<div class="modal fade" id="uks" role="dialog">
<div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">UK Seni</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="background-color: #181818; padding: 0;">
            <div id="carouselUKSeniControls" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-4">
                            <img class="d-block w-100" src="/images/Dewa-min.png" alt="First slide">
                        </div>
                        <div class="col-6 col-md-4">
                            <img class="d-block w-100" src="/images/Laurenza-min.png" alt="First slide">
                        </div>
                    </div>                                
                  </div>
                  <div class="carousel-item" style="padding: 3vw 8vw 3vw 8vw">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="d-block w-100" src="/images/Dewa-min.png" alt="First slide">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> VISI </h2> 
                                <p class="visi">UK Seni menjadi wadah yang berperan untuk meningkatkan kualitas dan wawasan anggota dalam bidang seni sehingga setiap anggota nya mampu berkontribusi baik di dunia nyata dan di dunia maya.</p>
                            </div>
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> MISI </h2>
                                <p class="visi">Memberikan pelatihan dan edukasi dalam divisi guna meningkatkan kualitas dan wawasan anggota serta mengembangkan media sosial dan memuat hasil karya anggota dalam media sosial. </p>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item" style="padding: 3vw 8vw 3vw 8vw">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="d-block w-100" src="/images/Laurenza-min.png" alt="First slide">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> VISI </h2>
                                <p class="visi">Menjadi unit kegiatan yang unggul dalam hal berkarya dan memiliki jiwa seni yang tinggi, sehingga setiap anggota mampu memberikan  kontribusi serta menciptakan karya seni yang kreatif dan inovatif. </p>
                            </div>
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> MISI </h2>
                                <p class="visi">1.	Mendorong anggota untuk aktif mengasah kemampuan melalui pelatihan rutin dengan sarana-prasarana yang memadai. <br>
                                    2.	Memberi edukasi dan referensi melalui media sosial UK Seni, guna menciptakan ide-ide kreatif dan inovatif. <br>
                                    3.	Mendorong anggota untuk aktif mengikuti kegiatan yang diadakan oleh kampus maupun luar kampus. </p>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselUKSeniControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselUKSeniControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="modal-footer">
            <select class="form-control" id="selectSeni">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="0">Tidak Memilih</option>
            </select>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    
</div>
</div>

<div class="modal fade" id="maphac" role="dialog">
<div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">MAPHAC</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="background-color: #181818; padding: 0;">
            <div id="carouselMaphacControls" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-4">
                            <img class="d-block w-100" src="/images/Aldi-min.png" alt="First slide">
                        </div>
                        <div class="col-6 col-md-4">
                            <img class="d-block w-100" src="/images/Bryan-min.png" alt="First slide">
                        </div>
                    </div>                                
                  </div>
                  <div class="carousel-item" style="padding: 3vw 8vw 3vw 8vw">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="d-block w-100" src="/images/Aldi-min.png" alt="First slide">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> VISI </h2> 
                                <p class="visi">1.Menjadikan MAPHAC sebagai organisasi yang memiliki banyak prestasi dan rekognisi dibidang 
                                    fotografi, videografi dan model dan bisa dikenal oleh masyarakat luas. <br>
                                    2.Membantu dalam pegembangkan minat dan bakat mahasiswa dibidang fotografi, videografi dan 
                                    model.</p>
                            </div>
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> MISI </h2>
                                <p class="visi">Memberikan pelatihan dan edukasi dalam divisi guna meningkatkan kualitas dan wawasan anggota serta mengembangkan media sosial dan memuat hasil karya anggota dalam media sosial. </p>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item" style="padding: 3vw 8vw 3vw 8vw">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="d-block w-100" src="/images/Bryan-min.png" alt="First slide">
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> VISI </h2>
                                <p class="visi">1. Mewujudkan MAPHAC sebagai wadah yang dapat meningkatkan keterampilan mahasiswa dalam bidang fotografi, videografi, modeling; juga keterampilan organisasi, kepanitiaan dan profesional. <br>
                                    2. Mewujudkan MAPHAC sebagai wadah bagi mahasiswa untuk mengekspresikan dirinya melalui bidang fotografi, videografi, dan modeling. <br>
                                    3. Menjadikan MAPHAC sebagai organisasi yang dikenal dan dihormati masyarakat luas. </p>
                            </div>
                            <div class="row">
                                <h2 style="font-family: 'cocogoose'; color: white;"> MISI </h2>
                                <p class="visi">1. Mengarahkan anggota MAPHAC untuk meningkatkan keterampilan dan pengalaman dalam bidang fotografi, videografi, modeling, organisasi, dan profesional melalui pelatihan, kompetisi, kepanitiaan, proyek, dan pekerjaan. <br>
                                    2. Mendorong anggota MAPHAC untuk meningkatkan kepercayaan diri dalam mengekspresikan dirinya melalui bidang fotografi, videografi dan modeling. <br>
                                    3. Mengarahkan anggota MAPHAC untuk memiliki sikap kekeluargaan dan toleransi dalam menjalin hubungan dengan satu sama lainnya. <br>
                                    4. Menjalin hubungan yang baik dengan berbagai organisasi mahasiswa dan komunitas atau institusi yang bergerak dalam bidang fotografi, videografi, dan modeling. <br>
                                    5. Memfasilitasi kegiatan yang dapat mengenalkan dan meningkatkan pemahaman bidang fotografi, videografi, dan modeling kepada masyarakat luas.</p>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselMaphacControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselMaphacControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="modal-footer">
            <select class="form-control" id="selectMaphac">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="0">Tidak Memilih</option>
            </select>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    
</div>
</div>