<body style="background-color: #181818;">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/images/Logo Univ.png" height="104" width="332" alt="Universitas Kristen Maranatha">
        </a>
        <button class="navbar-toggler" type="button" data-trigger="#main_nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse" id="main_nav">
            <div id="closer"></div>
            <div class="offcanvas-header mt-3">  
            </div>
            <ul class="navbar-nav ml-auto">
            <li class="nav-item"> <a class="nav-link" onclick="return theFunction();" href="/users/logout"> Logout </a> </li>
            </ul>
        </div> <!-- navbar-collapse.// -->
    </nav>

    <h1 style="font-family: 'cocogoose';margin: 5vw 0 5vw 0;font-size:8vw; text-align: center; color: white;"> TERIMA KASIH ATAS PARTISIPASI ANDA, <%= name %>!</h1>

</body>
